.container {margin-top: 2rem;
            margin-bottom:2rem;

          }
ul {   list-style-type: none;}

ul::before {
    content: "";
    display: block;
    width: 2%;
    height: 5em;
    position: absolute;
    top: 1em;
    left: 0;
    background-color: green;


.card-img-top {
    width: 100%;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
  }
  .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0px solid rgba(0,0,0,.125);
      border-radius: 0rem;
  }
ul>li{margin-bottom: 1rem; }
